form {
  margin-top: 3rem;
}
form input[name="city"],
form input[name="country"] {
  background-color: transparent;
  color: #fff;
  border: 0;
  border-bottom: 2px solid whitesmoke;
  border-radius: 0;
}
form input:focus {
  box-shadow: none !important;
  background-color: transparent !important;
}
form input,
.container::-webkit-input-placeholder {
  color: white !important;
}
